<h1><%= @article.title %></h1>
<h4><%= @article.content %></h4>



<form action="/articles/<%= @article.id %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="delete"/>
</form>
